header
  div.d-flex.flex-column.flex-md-row.align-items-center.pb-3.mb-4.border-bottom
    a.d-flex.align-items-center.text-dark.text-decoration-none(href='/')
      span.fs-4 Just Do It

    nav.d-inline-flex.mt-2.mt-md-0.ms-md-auto
      if req.user.role === 'admin' || req.user.role === 'listener'
        a.me-3.py-2.btn.btn-primary(href='/mt/new') Create New
      a.me-3.py-2.text-dark.text-decoration-none(href='/') Profile
      a.py-2.text-dark.text-decoration-none(href='logout') Log out
