doctype html
html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css', type='text/css')
    title Speaker Conference
  body
    block content
    script(src='/bootstrap/dist/js/bootstrap.js', type='text/javascript')
