doctype html
html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css', type='text/css')
    link(rel='stylesheet', href='/site.css', type='text/css')
    title Just Do It
  body.text-center
    block content
    script(src='/bootstrap/dist/js/bootstrap.min.js', type='text/javascript')
