extends _layout.pug

block content
  div.container.py-3
    include _header
    main.form-signin
      form(method='post',action='/mt/create')
        h1.h3.mb-3.fw-normal Details
        div.form-floating
          input#title.form-control(type='text',name='title',required)
          label(for='title') Title
        div.form-floating
          input#developer.form-control(type='text',name='developer',required)
          label(for='developer') Developer
        div.form-floating
          input#client.form-control(type='text',name='client',required)
          label(for='client') Client
        div.form-floating
          input#project.form-control(type='text',name='project',required)
          label(for='project') Project
        div.form-floating
          textarea#description.form-control(name='description',rows='10',style='height:200px;')
          label(for='description') Description
        button.w-100.btn.btn-lg.btn-primary(type='submit') Create
